<button matButton="filled" routerLink="/category/-1">
  <mat-icon aria-hidden="false" fontIcon="add"></mat-icon> Create Category
</button>

<h2>Categories</h2>
@if (loaded) {
  <table mat-table [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="openCategoryEntry(row)"
      *matRowDef="let row; let even = even; columns: displayedColumns"
      [ngClass]="{ evenRow: even }"
    ></tr>
  </table>
  <mat-paginator
    [length]="elementCount"
    [pageSize]="entriesPerPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="updateTableContent()"
  />
} @else {
  <mat-progress-spinner mode="indeterminate" />
}
